* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* cores */

	--white: #fff;

	font-size: 62.5%; /* 10px*/
}

@font-face {
	font-family: "Helvetica-UltraLight";
	src: local(Helvetica), url(../assets/fonts/HelveticaUltraLt_0.ttf);
}
